@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}
.main {
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}




.form {
    padding: 10px;
    display: flex;
}

.form_url {
    display: block;
}
.form_title {

}
.container_result { 
    border: 1px solid black;
    width: ;
}